<h1>Details</h1>
<div class="container">
  <div class="row">
    <p style="color: grey; margin-right: 10px">Id:</p>
    <p>{{ itemId }}</p>
  </div>
  <div class="row">
    <p style="color: grey; margin-right: 10px">Name:</p>
    <p>{{ itemName }}</p>
  </div>
  <div class="row">
    <p style="color: grey; margin-right: 10px">Status:</p>
    <p>{{ itemStatus }}</p>
  </div>
  <div class="row">
    <p style="color: grey; margin-right: 10px">Description:</p>
    <p>{{ itemDesc }}</p>
  </div>
</div>
